.dz-preview,
.dz-preview *,
.dz-image {
  display: none !important;
}

.download-icon-box {
  text-align: center;
  display: block;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

#header-title {
  display: flex;
  justify-content: space-between;
}

#gitlab-connect-btn {
  align-content: center;
  font-weight: bold;
  font-size: 1rem;
}

#dz-downarrow {
  position: relative;
  height: 10vh;
}

#dz-uparrow {
  position: relative;
  height: 10vh;
}

.description {
  font-size: 1.5rem;
  line-height: 170%;
  color: #666;
}

.description2 {
  font-size: 1.2rem;
  line-height: 170%;
  color: #666;
}

.pavlovia-section {
  position: relative;
  display: grid;
  grid-template-columns: 100% 0%;
  column-gap: 10px;
}

#gitlab-user-info {
  position: relative;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 3px;
}

.option-block {
  font-size: 1rem !important;
  /* margin-top: 10px; */
  display: flex;
  justify-content: left;
}

.option-block * {
  font-size: 1rem !important;
  color: #333;
}

#pavlovia-left-list li,
#pavlovia-experiment-url-ol li {
  position: relative;
  margin-top: 1rem;
}

#header {
  margin-bottom: 2rem;
}

#pavlovia-experiment-url-ol,
#participant-survey-completion-div {
  position: relative;
}

.step-status {
  position: absolute;
  margin: 1rem 0 0 0;
  /* font-family: Calibri; */
  font-size: 2.5rem;
  text-align: end;
  left: 0;
  top: 0;
  transform: translate(-200%, -55%);
}

.dropzone {
  padding: 1rem !important;
  min-height: 0px !important;
}

#file-dropzone {
  position: relative;
  border: 1px solid #ccc;
  /* height: 180px !important; */
}

.dz-button,
.dz-message * {
  color: #999 !important;
  overflow-wrap: break-word;
}

#drop-message-header {
  padding: 0;
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(170, 170, 170) !important;
}

.dz-message {
  font-size: 1.1rem !important;
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0;
  /* padding: 10px; */
}

.dz-message:hover {
  cursor: pointer;
}

#new-gitlab-repo-name {
  width: 50%;
  min-width: fit-content;
  flex: none;
}

#new-gitlab-repo-name::placeholder {
  font-weight: bold;
  color: rgb(170, 170, 170);
  font-size: 1rem;
}

#new-repo-input-group {
  position: relative;
}

#new-repo-input-group button {
  color: white;
  background-color: #6c757d;
  width: 6rem;
  font-size: 1rem;
  margin-left: 1rem;
}

/*#activate-experiment-btn {
  position: relative;
  top: -10px;
  left: -70px;
}*/

#activate-experiment-btn:hover {
  font-weight: bold;
}

#participant-survey-completion-div li {
  margin-top: 15px;
}

#prolific-input-group {
  display: flex;
  justify-content: space-between;
}

#participant-recruitment-completion-url-submit {
  width: 30%;
}

#participant-survey-new-url-div div {
  display: flex;
  justify-content: space-between;
}

#new-url {
  width: 67%;
}

#new-url-submit {
  width: 30%;
}
/*#pavlovia-exp-url-group {
  position: relative;
  top: 20px;
  visibility: hidden;
}*/

/*#pavlovia-experiment-url {
  position: relative;
  top: -30px;
  visibility: hidden;
}*/

/*#copy-pavlovia-url {
  position: relative;
  top: 40px;
  visibility: hidden;
}*/

button {
  border-radius: 40px !important;
  height: fit-content;
}

.no-display {
  display: none !important;
}

.self-center {
  align-self: center;
}

#activate-experiment-btn {
  margin-right: 20px;
}

#try-study-url {
  padding-left: 10px;
}
