.errors {
  margin: 2rem 0;
}

.error-box {
  position: relative;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 7px;
}

.error-box * {
  font-size: 1rem;
}

/* -------------------------------------------------------------------------- */

.error-warning {
  background-color: #f7881233;
  border-left: 3px solid #f78812;
}

.error-error {
  background-color: #fff3f3;
  border-left: 3px solid #e02401;
}

.error-correct {
  background-color: #f6fff2;
  border-left: 3px solid #4e9f3d;
}

/* -------------------------------------------------------------------------- */

.error-key {
  font-weight: 700;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
}

.error-body {
  margin: 0;
  padding-left: 5px;
}

.error-warning .error-key {
  /* background-color: #f7881233; */
  color: #f78812;
}

.error-error .error-key {
  /* background-color: #e0240133; */
  color: #e02401;
}

.error-correct .error-key {
  /* background-color: #4e9f3d33; */
  color: #317224;
}

.error-line {
  margin: 0;
}

.error-parameter {
  /* background-color: #e0240133; */
  font-weight: 700;
  /* text-align: right;33 */
  margin: 0;
  padding: 0;
  word-break: break-word;
}
.error-hint {
  /* font-weight: 600; */
  font-style: italic;
  margin: 0 1em;
}

.error-warning .error-hint::before {
  color: #f78812;
}

.error-error .error-hint::before {
  color: #e02401;
  font-weight: 500;
}

.error-correct .error-hint::before {
  color: #4e9f3d;
}

.error-hint::before {
  content: " HINT: ";
}

/* .error-hint::after {
  content: ')';
} */

.error-time {
  margin: 0;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.9rem;
  color: #999;
}

.error-ok {
  margin: 0.25rem 0 0 0;
  padding: 3px 1rem;
  /* display: inline-block; */
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 7px;
  /* color: #666; */
  /* background: #ffffff99; */
}

.filename-banner .timestamp {
  display: inline-block;
  position: absolute;
  right: 0;
}
