#dialog-box {
  position: absolute;
  top: 37vh;
  left: 37vw;
  width: 25vw;
  height: 15vh;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgb(82, 82, 82);
  display: none;

  z-index: 1000;
}

.dialog-title {
  position: relative;
  font-size: 2vh;
  font-weight: bold;
}
.dialog-body {
  position: relative;
  margin: 5px 0px;
}
.dialog-button {
  position: absolute;
  bottom: 20px;
  right: 25px;
  padding: 5px;
  font-size: 1.5vh;
  background-color: #333;
  color: white;
  transition: 0.12s;
}
.dialog-button:hover {
  cursor: pointer;
  background-color: rgb(78, 78, 78);
}