.login {
  .success-message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.75rem;

    .account-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: flex-end;

      .pavlovia-account {
        font-size: smaller !important;
        font-weight: 700;
        color: #999;
        white-space: nowrap;
        line-height: 150%;
      }

      .pavlovia-account-name {
        display: inline-flex;
        align-items: center;
        word-break: break-all;
        gap: 0.5rem;

        .pavlovia-avatar {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          pointer-events: none;
        }
      }
    }
  }

  .connect-to-pav {
    margin-top: 2rem;
  }

  .link-set-buttons-login {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 0.3rem;

    button {
      white-space: nowrap;
    }
  }
}
