.login {
  // display: inline-flex;
  align-items: center;
  overflow: hidden;

  .success-message {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: flex-end;

    .pavlovia-account {
      font-size: smaller !important;
      font-weight: 700;
      color: #999;
      white-space: nowrap;
    }

    .pavlovia-account-name {
      white-space: nowrap;
    }
  }

  .connect-to-pav {
    margin: 1rem 0 0 0;
  }

  .link-set {
    justify-content: flex-start;
  }
}
