// RADIUS
$step-radius: 0.9rem;
$icon-radius: 0.7rem;

$step-background: #eee;
$step-background-complete: #ddd;

$green: #019267;
$light-green: #00c897;

$font-small: 1rem;
$font-reg: 1.2rem;
$font-large: 1.6rem;
