// RADIUS
$step-radius: 0.7rem;
$icon-radius: 0.5rem;

$step-background: #f0f0f0;
$step-background-complete: #d0d0d0;

$green: #019267;
$light-green: #00c897;

$error: #bb2c22;

$font-small: 1rem;
$font-reg: 1.2rem;
$font-large: 1.6rem;
