.link-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;

  &:not(:last-child) {
    margin: 0.8rem 0 !important;
  }

  button:not(:last-of-type) {
    margin-right: 0.3rem;
  }
}
