@import "root.scss";

.status-lines {
  list-style: none;
  padding: 0;
  line-height: normal;

  .status-line {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;

    .line-title {
      display: flex;
      white-space: nowrap;
      .line-title-icon {
        height: 2rem;
      }
    }

    .line-content {
      display: flex;
      justify-content: space-between;
      flex: 1;
      overflow: hidden;

      .status-line-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;
      }

      .prolific-account {
        @media screen and (max-width: 560px) {
          display: block;
        }
      }

      .prolific-account-button {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        height: 20px;
        @media screen and (max-width: 560px) {
          height: unset;
        }
      }

      .button-small {
        white-space: nowrap;
        font-size: 0.7rem;
        padding: 4px;
        color: #fff;
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        @media screen and (max-width: 560px) {
          height: unset;
          white-space: unset;
        }
      }

      .experiment-needs {
        display: block;
      }
    }

    // login
    .pavlovia-account-name {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;

      .pavlovia-avatar {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        pointer-events: none;
      }
    }
  }

  .status-line-activated {
    * {
      color: #333;
    }
    .icon-i {
      color: #666;
      cursor: pointer;
    }
  }

  .status-line-inactivated {
    display: none;
    * {
      color: #ccc;
    }
    .icon-i {
      display: none;
    }
  }
}

.status-bar {
  display: block;

  color: white;
  font-size: $font-small;
  font-weight: 500;
  text-align: center;

  // border-top: 2px solid $green;
  // border-bottom: 2px solid $green;
  border-radius: 2rem;
  // background-color: $dark-green;
  background-color: #aaa;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  width: fit-content;
}
