@import "root.scss";

.step {
  p {
    margin: 0;
    font-size: $font-reg;
    line-height: 150%;
  }

  p,
  span {
    &.bold {
      font-weight: 700;
    }

    &.emphasize {
      font-weight: 500;
    }

    &.success {
      color: $green;
    }

    &.compile-count {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;

      color: #57068c;
      font-size: 0.7rem;
      line-height: 100%;
      // padding: 0.5rem;
      margin-top: 0.3rem;
      // border: 1px solid #57068c;
      // border-radius: $icon-radius;

      * {
        font-size: 0.7rem;
        line-height: 100%;
        color: #57068c !important;
      }
    }
  }
}

.step,
.status-line-content,
.line-content {
  button {
    border-radius: $icon-radius;
    color: white;
    font-size: $font-reg;
    font-weight: 600;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    // transition: all 0.1s ease-in-out;
    outline: none !important;
    border: none !important;
    padding: 0.7rem 1.1rem;

    &.button-small {
      font-weight: 400;
      font-size: $font-small;
      padding: 0.7rem 1rem;
      min-width: 7rem;
    }

    &.button-black {
      background: #333;
      &:hover {
        background: #333;
      }
      &:active {
        background: #000;
      }
    }

    &.button-grey {
      background: #999;
      &:hover {
        background: #aaa;
      }
      &:active {
        background: #666;
      }
      * {
        color: white !important;
      }
    }

    &.button-green {
      background: $green;
      &:hover {
        background: $dark-green;
      }
      &:active {
        background: $green;
      }
      &:disabled {
        background: $light-green;
        cursor: wait;
      }
    }

    &.button-disabled {
      pointer-events: none;
      background: #bbb;
    }

    &.button-wait {
      cursor: wait !important;
    }
  }
}

.step-completed {
  background: $step-background-complete;

  // * {
  //   pointer-events: none;
  //   opacity: 0.9;
  // }
}

.step-current-indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 999px;
  background: $green;
  padding: 0.35rem 0.7rem 0.45rem;
  line-height: 100% !important;
  font-size: $font-small !important;
  color: white;
  transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------- */

.history-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.history-dropdown {
  border-radius: 0.5rem;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #666;
  padding: 0.3rem;
  // margin: unset 0.3rem;
  // font-weight: 600;
  font-size: 0.9rem;
  vertical-align: middle;
  pointer-events: auto !important;
}

.history-time {
  // font-size: $font-small;
  color: #666;
}

.green-status-banner {
  background-color: $light-light-green;
  padding: 1rem;
  color: $green;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: $step-radius;
}
