.step p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 150%;
}
.step p.bold,
.step span.bold {
  font-weight: 700;
}
.step p.emphasize,
.step span.emphasize {
  font-weight: 500;
}
.step p.success,
.step span.success {
  color: #019267;
}
.step p.compile-count,
.step span.compile-count {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  color: #57068c;
  font-size: 0.7rem;
  line-height: 100%;
  margin-top: 0.3rem;
}
.step p.compile-count *,
.step span.compile-count * {
  font-size: 0.7rem;
  line-height: 100%;
  color: #57068c !important;
}

.step .csv-ready,
.status-line-content .csv-ready,
.line-content .csv-ready {
  margin-left: 10px;
}
@media screen and (max-width: 560px) {
  .step .csv-ready,
  .status-line-content .csv-ready,
  .line-content .csv-ready {
    margin-left: 0px;
  }
}
.step button,
.status-line-content button,
.line-content button {
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  outline: none !important;
  border: none !important;
  padding: 0.7rem 1.1rem;
}
.step button.button-small,
.status-line-content button.button-small,
.line-content button.button-small {
  font-weight: 400;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  min-width: 7rem;
}
@media screen and (max-width: 560px) {
  .step button.button-small,
  .status-line-content button.button-small,
  .line-content button.button-small {
    min-width: auto;
  }
}
.step button.button-download,
.status-line-content button.button-download,
.line-content button.button-download {
  height: 33px;
  padding: 7px 1rem;
}
@media screen and (max-width: 560px) {
  .step button.button-download,
  .status-line-content button.button-download,
  .line-content button.button-download {
    height: unset;
    padding: 7px;
  }
}
.step button.button-analyze,
.status-line-content button.button-analyze,
.line-content button.button-analyze {
  margin-left: 10px;
  height: 33px;
  padding: 7px 1rem;
}
@media screen and (max-width: 560px) {
  .step button.button-analyze,
  .status-line-content button.button-analyze,
  .line-content button.button-analyze {
    height: unset;
    margin-left: 0;
    padding: 7px;
  }
}
.step button.button-large-font,
.status-line-content button.button-large-font,
.line-content button.button-large-font {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 7px 1rem;
  min-width: 7rem;
  height: 33px;
}
@media screen and (max-width: 560px) {
  .step button.button-large-font,
  .status-line-content button.button-large-font,
  .line-content button.button-large-font {
    height: unset;
    min-width: auto;
  }
}
.step button.button-black,
.status-line-content button.button-black,
.line-content button.button-black {
  background: #333;
}
.step button.button-black:hover,
.status-line-content button.button-black:hover,
.line-content button.button-black:hover {
  background: #333;
}
.step button.button-black:active,
.status-line-content button.button-black:active,
.line-content button.button-black:active {
  background: #000;
}
.step button.button-grey,
.status-line-content button.button-grey,
.line-content button.button-grey {
  background: #999;
}
.step button.button-grey:hover,
.status-line-content button.button-grey:hover,
.line-content button.button-grey:hover {
  background: #aaa;
}
.step button.button-grey:active,
.status-line-content button.button-grey:active,
.line-content button.button-grey:active {
  background: #666;
}
.step button.button-grey *,
.status-line-content button.button-grey *,
.line-content button.button-grey * {
  color: white !important;
}
.step button.button-green,
.status-line-content button.button-green,
.line-content button.button-green {
  background: #019267;
}
.step button.button-green:hover,
.status-line-content button.button-green:hover,
.line-content button.button-green:hover {
  background: #157558;
}
.step button.button-green:active,
.status-line-content button.button-green:active,
.line-content button.button-green:active {
  background: #019267;
}
.step button.button-green:disabled,
.status-line-content button.button-green:disabled,
.line-content button.button-green:disabled {
  background: #00c897;
  cursor: wait;
}
.step button.button-disabled,
.status-line-content button.button-disabled,
.line-content button.button-disabled {
  pointer-events: none;
  background: #bbb;
}
.step button.button-wait,
.status-line-content button.button-wait,
.line-content button.button-wait {
  cursor: wait !important;
}

.step-completed {
  background: #d0d0d0;
}

.step-current-indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 999px;
  background: #019267;
  padding: 0.35rem 0.7rem 0.45rem;
  line-height: 100% !important;
  font-size: 1rem !important;
  color: white;
  transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------- */
.history-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.history-dropdown-wrapper {
  display: inline-block;
  width: fit-content; /* or -moz-fit-content / -webkit-fit-content */
  white-space: nowrap;
  flex-shrink: 0; /* if in a flex container */
  margin: 0 !important;
  padding: 0 !important;
}

.history-dropdown {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  min-width: 297px;
  border-radius: 0.5rem;
  vertical-align: middle;
  pointer-events: auto !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: rgb(255, 255, 255) !important;
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: unset;
  background-color: #999;
}

@media screen and (max-width: 560px) {
  .history-dropdown {
    /* you can still enforce a minimum on small screens if you want */
    min-width: 297px;
  }
}
.history-time {
  color: #666;
}

.green-status-banner {
  background-color: #e1efd8;
  padding: 1rem;
  color: #019267;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.7rem;
}

/*# sourceMappingURL=Step.css.map */
