@import "root.scss";

$table-step-padding: 0.4rem;

.step-table {
  // padding-left: $table-step-padding !important;
  // padding-right: $table-step-padding !important;

  .table {
    margin: 0;
  }

  .dropzone-around-text {
    // margin: 0 0 0 calc(1.2rem - $table-step-padding) !important;
    margin: 0;

    &:not(:first-child) {
      margin-top: 0.7rem;
    }

    &.has-error {
      color: $error;
    }
  }

  .resource-button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    white-space: nowrap;
    // width: 6rem;
    flex-grow: 0;

    padding: 1rem !important;

    .resource-button-icon {
      font-size: 1.2rem;
    }
  }

  .file-zone {
    width: 100%;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    gap: 0.7rem;
    padding: 0.8rem 0 0 0;

    .dropzone {
      flex-grow: 1;
    }

    .resource-buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.3rem;
      // flex-grow: 1;
      // width: min-content;
      // flex-direction: column;
      // margin-left: 0.3rem;

      // .resource-button:not(:first-child) {
      //   margin: 0.3rem 0 0 0;
      // }
    }
  }

  .dropzone {
    position: relative;
    border-radius: $icon-radius !important;
    border: none !important;
    outline: 2px solid #aaa;
    outline-offset: -2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #fcfcfc;

    .dropzone-sub-text {
      font-size: 1.2rem;
      color: #aaa;
      padding: 0 0.7rem;
    }

    .dropzone-sub-text * {
      font-size: 1.2rem;
      color: #aaa;
    }

    &.drop-disabled {
      cursor: wait !important;
    }

    &:hover {
      outline: 2px solid #999;

      .dropzone-sub-text,
      .dropzone-sub-text * {
        color: #666;
      }
    }
  }

  .errors {
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }

    .error-item {
      position: relative;
      border-radius: $icon-radius;
      padding: 0.4rem 1rem 0.4rem 1rem;
      margin: 0.7rem 0;

      &:last-of-type {
        margin-bottom: 0 !important;
      }

      * {
        font-size: 1rem;
        // padding: 0.1rem 0;
        padding: 0;
      }

      ul,
      ol {
        margin-bottom: 0 !important;
        list-style: none;
      }

      .error-parameter {
        font-weight: bold;
      }

      .error-name {
        font-weight: bold;
      }

      .error-hint {
        &::before {
          content: "HINT: ";
          font-weight: bold;
        }
      }

      .error-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .error-close {
        padding: 0;
        line-height: 100%;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .error-warning {
      background-color: #f7881233;
      border: 2px solid #f78812;

      .error-name,
      .error-hint::before {
        color: #f78812;
      }
    }

    .error-error {
      background-color: #fff3f3;
      border: 2px solid $error;

      .error-name,
      .error-hint::before {
        color: $error;
      }
    }

    .error-correct {
      background-color: #f6fff2;
      border: 2px solid $green;

      .error-name,
      .error-hint::before {
        color: $green;
      }
    }
  }
}
