@import "root.scss";

.upload-container {
  display: flex;
  flex-direction: row;
  padding-top: 0.8rem;

  .upload-input {
    flex-grow: 1;
    font-size: $font-small;
    line-height: 100%;
    padding: 0.7rem 1rem;
    outline: 2px solid #aaa;
    outline-offset: -2px;
    border-radius: $icon-radius !important;
    border: none !important;
    min-width: 0;
  }

  button {
    margin-left: 0.3rem;
  }
}
